RS_BASE_URL=
RS_HOST=localhost
RS_PORT=8005
DATABASE_URL=banking.db
ENVIRONMENT=develop

MCP_PATH=/mcp

SCALEKIT_ENVIRONMENT_URL=https://<workspace>.scalekit.dev
SCALEKIT_CLIENT_ID=
SCALEKIT_CLIENT_SECRET=
SCALEKIT_RESOURCE_ID=
SCALEKIT_RESOURCE_METADATA_URL=http://localhost:8005/.well-known/oauth-protected-resource/mcp
SCALEKIT_AUDIENCE_NAME=http://localhost:8005/mcp/
METADATA_JSON_RESPONSE=
